{% extends 'container_guestbook.html' %}
{% block content_guestbook %}

{% if guestbook_error %}
    <div style="background-color: #C99; padding: 10px; margin-bottom: 5px;
        color: #eee;">
        {{ guestbook_error|safe }}
    </div>
{% endif %}

<form action="{% url 'guestbook:write' %}" method="post" style="margin: 0">
    {% csrf_token %}
    <table>
        <tr>
            <td style="text-align: right;">
                <label for="input_namefirst">First Name</label>
            </td>
            <td>
                <input type="text" name="namefirst" id="input_namefirst" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <label for="input_namelast">Last Name</label>
            </td>
            <td>
                <input type="text" name="namelast" id="input_namelast" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <label for="input_comment">Comment</label>
            </td>
            <td>
                <input type="text" name="comment" id="input_comment"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Sign Guestbook"
                  style="width: 100%; padding: 10px;" />
            </td>
        </tr>
     </table>
</form>
{% endblock %}