{% extends 'container_home.html' %}
{% block content_home %}
    Hey! Welcome to my
    <strong>
        <span style="color: #F00;">u</span>
        <span style="color: #0F0;">g</span>
        <span style="color: #999;">l</span>
        <span style="color: #00F;">y</span>
    </strong>
    website!
    <br /><br />
    I've been programming for <strong>ten years,</strong> with experience in:
    <ul>
        <li>Assembly</li>
        <li>C, C++</li>
        <li>C#</li>
        <li>Java</li>
        <li>Perl</li>
        <li>PHP (and HTML, CSS, JavaScript)</li>
        <li>Python</li>
        <li>SQL (primarily MySQL)</li>
    </ul>
    I'm currently attending the
        <a href="http://www.mst.edu/">
            Missouri University of Science and Technology</a>
    for a Bachelor's in Computer Engineering. It's my junior year!
    
    <br /><br />
    
    <div style="font-size: 24px; border-bottom: 1px dotted #999;">
        Hobbies
    </div>
    
    <br />
    
    When I'm not programming, I:
    
    <ul>
        <li>Play music on my guitars, trumpet, and trombone</li>
        <li>Enjoy the occasional video game</li>
        <li>Second-guess my spelling of the word "occasional"</li>
        <li>Assert that this is the correct spelling of the word</li>
        <li>Realize how difficult it is to form a hobbies list</li>
        <li>Panic and end the list abruptly</li>
    </ul>
    
    <div style="font-size: 24px; border-bottom: 1px dotted #999;">
        Contact Information
    </div>
    
    <br />
    
    I like talking to people! But my mom said don't talk to strangers. So
    don't be strange.
    <br /><br />
    <span style="font-style: italic;">
        (314) - 973 - 5738<br />
        lumatechallenge@alexlitty.com
    </span>
{% endblock %}